html, body {
  height: 100%;
  margin-top: 0;
  padding: 0;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

header.masthead {
  background: url('../resources/computer.jpg') center center scroll;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-size:100% 100%;
  display: table;
}

header.masthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 992px) {
  header.masthead>.overlay {
    padding: 10rem 0;
  }
}

#about {
  display: flex;
  width: 100%;
  height: 30%;
  display: inline-block;
  height: fit-content;
}

.about-content {
  background: lightblue;
  height: fit-content;
  padding: 6% 2% 2% 2%;
}

#about img {
  float: right;
  width: 40%;
  max-height:40%;
  max-width: 400px;
}

.img_description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_wrap:hover .img_description_layer {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.img_description {
  font-size: 2em;
}

@media (max-width: 500px) {
  .img_description {
    font-size: 2em;
  }

  .about-content {
    background: lightslategrey;
    height: fit-content;
    padding-top: 4em;
  }

  /* #about img {
    float: right;
    width: 40%;
    max-height:40%;
    max-width: 400px;
  } */
}


.img_wrap:hover img {
  opacity: 1;
}

.img_description {
  transition: .4s;
  transform: translateY(1em);
}

.img_wrap:hover .img_description {
  transform: translateY(0);
}

.frameworks {
  width: 100%;
  background: lightgrey;
  color: white;
}


#social {
  width: 100%;
  height: 30%;
  background: darkcyan;
  text-align: center;
  color: white;
  display: table;
}

.social-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.icons {
  display: flex;
  width: 40%;
  margin: auto;
}
.icons * {
  flex-grow: 1;
}

footer {
  display: table;
  width: 100%;
  padding: 0;
}

footer p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
