html, body {
  height: 100%;
  margin-top: 0;
  padding: 0;
  /* font-family: 'Raleway', sans-serif;   */
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

header.masthead {
  background: url('../resources/computer3.jpg') center center scroll;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-size: 100% 100%;
  display: table;
  font-family: 'Playfair Display', serif;
}

header.masthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 700px) {
  header.masthead>.overlay {
    padding: 10rem 0;
  }
}

/* ABOUT SECTION */

#about {
  display: flex;
  height: fit-content;
  padding: 6% 2% 2% 2%;
  background: darkslategrey;
  color: lightblue;
}

#about img {
  margin-left: 1em;
  float: right;
  max-height: 400px;
  max-width: 400px;
}

/* PROJECTS SECTION */

#projects {
  padding: 0;
  padding: 0;
  background: lightgrey;
}


.img_description {
  transition: .4s;
  transform: translateY(1em);
}

.circular--landscape:hover .img_description {
  transform: translateY(0);
}

.img_description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
}

.circular--landscape:hover .img_description_layer {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.img_description {
  font-size: 2em;
}

/* MOBILE STYLING */

@media (max-width: 500px) {
  body p {
    line-height: 1.5;
    font-size: 18px;
  }
  section {
    margin-top: 2em;
  }
  .img_description {
    font-size: 2em;
  }
  .about-content {
    height: fit-content;
    padding-top: 4em;
  }
  .social-content h1 {
    font-size: 2em;
  }
  .circular--landscape {
    height: 300px;
    width: 300px;
  }
}

/* END MOBILE STYLING */

/* SOCIAL MEDIA ICONS */
#social {
  width: 100%;
  height: 30%;
  background: darkslategrey;
  text-align: center;
  color: white;
  display: table;
}

.social-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.icons img {
  height: 46px;
  width: 46px;
  margin: 1em;
}

.icons img:hover {
  opacity: .5;
  cursor: pointer;
}

/* FOOTER  */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}